@import url("./paletteColor.css");

  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,400;1,300&family=Poppins:wght@300&display=swap');

 /*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 */

body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
  width: 100%;
  height: 100%;
   font-family: 'lato', sans-serif;
 overflow-x: hidden;
 font-weight: normal;
}
 .ligth-theme{
   
background-color: white;
color: #313131;

}
.ligth-theme a{
    color:#313131;
}

.dark-theme{
    
background-color: rgb(37, 37, 37);

 color: white;

}
.dark-theme a{
    color: white;
}


/** css menu  y side barr*/
.header{
    position: sticky;
    height: 60px;
    z-index: 1;
    background-color: var(--primary);
    top: 0;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
   box-shadow: 0px 0px 1px #8a8a8a;


}
.dark-theme .header{
    background-color: var(--primary-dark);
}
.ligth-theme .header{
    background-color: var(--primary);
}



.contain-menu {
   visibility: visible;
    height: 60px;
}



.menu{
display: flex;
list-style: none;

}


.dark-theme   .contain-menu{
    background-color: var(--primary-dark);
}
.ligth-theme  .contain-menu{
    background-color: var(--primary);
}
.menu li{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    height: 40px;
    margin:  2px 5px;
    text-align: left;
    justify-content: left;

}
.menu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    
      /* color: var(--acent);*/
}

.icon-menu{
    visibility: hidden;
    background-color:  transparent;
    border: none;
    height: 25px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-menu span{
    width: 30px;
    height: 3px;
    background-color: var(--acent);
    color: var(--acent);
    border-radius: 10px;
}

.icon-menu-close{
  
    background-color: transparent;
    border: none;
    height: 35px;
    width: 35px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: start;
visibility: hidden;
}

.icon-menu-close span:nth-child(1){
    height: 4px;
    width: 30px;
    background-color: var(--acent);
    transform: rotate(45deg);
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

.icon-menu-close span:nth-child(2){
    height: 4px;
    width: 30px;
    background-color: var(--acent);
    transform: rotate(-45deg);
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

@keyframes arriba {
    0%{
transform: rotate(0deg);
    }
    100%{
transform: rotate(45deg);
    }

    
}
@keyframes abajo {
    0%{
transform: rotate(0deg);
    }
   
    100%{
transform: rotate(-45deg);
    }

    
}


@keyframes arribasalir {
    0%{
transform: rotate(45deg);
    }
    100%{
transform: rotate(0deg);
    }

    
}
@keyframes abajosalir {
    0%{
transform: rotate(-45deg);
    }
   
    100%{
transform: rotate(0deg);
    }
}

.open  {
   visibility: visible;
  
}
.open .icon-menu-close span:nth-child(1),
.open .icon-menu-close span:nth-child(2){
    visibility: visible;  
}
.open .icon-menu-close span:nth-child(1){
   
animation:arriba 2s ;

}
.open .icon-menu-close span:nth-child(2){
    animation: abajo 2s;
     
}

.close {
    visibility: hidden;
  
}
.close .icon-menu-close span:nth-child(1),
.close .icon-menu-close span:nth-child(2){
    visibility: hidden; 
    
}

.close .icon-menu-close span:nth-child(1){
animation: arribasalir 1s 1s;

}
.close .icon-menu-close span:nth-child(2){
    animation: abajosalir 1s 1s;
  
}

.active{
    background-color: var(--acent);
    border-radius:  8px;
}
/*ionos dl menu y icon de tema*/
.div-menu{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5;
    
}
.icon-theme{
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 4px 10px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 3px #838383;
}

.ligth{
    width: 12px;
    height: 12px;
    background-color: var(--acent);
    border-radius: 50%;
    position: absolute;
    left: 3px;
    transition: 1s;
}
.ligth::before{
   
    width: 12px;
    height: 12px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: absolute;
    transform: translateX(-30px);
    transform: translateY(-4px);
}
.dark{
    width: 12px;
    height: 12px;
    background-color: var(--acent);
    border-radius: 50%;
    position: absolute;
    right: 5px;
    transition: 1s;
}

.dark::before{
    content: " ";
    width: 12px;
    height: 12px;
    background-color: var(--primary-dark);
    border-radius: 50%;
    position: absolute;
    right: 5px;
    
    transform: translateY(-1px);
    mask-clip:padding-box ;
}
/*css  de los cards de la imagenes*/

.container{
}
.div-secction{

 
 
 display: grid;
 place-items: center;
 grid-template-rows: 50px;/**repeat(auto-fill, minmax(min(100%, 150px), 1fr));*/
grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px),1fr));   

gap: 8px; 
   
}

.dark-theme .div-secction{
    background-color: var(--primary-dark);
}
.ligth-theme .div-secction{
    background-color: var(--primary);
}


.contain-search{
    position: relative;
  width: 300px;
  }
  .title-secction{
    font-size: 1.2rem;
    font-weight: 500;

  }
  .contain-txtBuscar{
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent;

 
  }
  .txtBuscar{
      width: 100%;
     
      padding: 2px 30px;  
      font-size: 1.1rem;
      height: 30px;
      border-radius: 20px;
      border: 2px solid #9b9b9b;
      color: #c2c2c2;
      outline: none;
      background-color: transparent;
  }
  .icon-search{
      
      position: absolute;
      left: 10px;
      font-size: 1.3rem;
      color: #9b9b9b;
  }
  .icon-delete{
      position: absolute;
      right: 10px;
      font-size: 2.15rem;
      color:#9b9b9b;
   
  }
  
  .icon-delete:hover{
      cursor: pointer;
  }
  .txtBuscar:focus{
      border: 2px solid #999999;
      box-shadow: 0px 0px 15px #999999;
      color: #999999;
      
  } 
  .txtBuscar:focus ~ i {
      color: #999999;;
  /* text-shadow: 0px 0px 10px #5fd3f0;*/
  
  }
  
/*==================================================estilos para los contenedores de los cards y la imagines =============================*/


.container-card{
    display: grid;
    gap: 1.2rem;
    position: relative;
    grid-auto-rows: 225px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
    padding: 8px 10px;
}



.card{
  /*  background-color: #2b2b2b;
   backdrop-filter: blur(5px);
    -webkit-backdrop-filter:blur(5px) ;
    box-shadow: 4px 4px 8px #adadada8;*/
    border-radius: 8px;
    
   position: relative;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow: hidden;
    transition: .8s;
     box-shadow: 2px 2px 5px #7e7e7e46; 
    
}
.card .divfront{
  transform: perspective(600px) rotateY(0deg); 
  display: flex;
  flex-direction: column;
  padding: 0;
}
.card .divfront picture{
    height: 175px;
    width: 100%;

    position: absolute;
}
.card .divfront img{
   width: 100%;
   height: 100%;
}
.card .divfront .divnombre{
    height: 50px;
  width: 100%;
    position: absolute;    
    bottom: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
padding: 6px 8px;
}
.card .divfront .divnombre label{
    margin: 0;
   
    width: 100%;
    
  }
.card .divback{
   transform: perspective(600px) rotateY(180deg);
   width: 100%;
   height: 100%;
  /* background-color: #2f6ef7;*/
 
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


.card .divback label{
   padding: 8px 8px;
   font-size: 1.15rem;
 }
 
.card .divback p{
    padding: 2px 8px;
    font-weight: lighter;
  }
  .card .divback div{
    padding: 2px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card .divback div a{
    padding: 2px 8px;
    font-size: 2rem;
  }

 .card:hover .divfront{
 transform: rotateY(180deg);

 }
 .card:hover .divback{   
    transform: rotateY(0deg);
    }


.btn-primary{
    
    display: flex;
    height: 30px;
    width: 100px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    color: var(--secondary);
    text-decoration: none;
    font-weight: 700;
   align-self:center;
  margin: 8px;
}

/*==================================================estilos para los contenedores de la pagina inicial =============================*/

.contain-info{
    background-size: cover;
    background-position: center;
  /*  background-image: linear-gradient(0deg, var(--secondary),#ffffffee),url("../assets/img/logoname.png");
    color: var(--primary);*/

 padding:  10px;
    position: relative;  
}


.section-info{
    display: grid;
    gap: 1.3rem;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,450px), 1fr));
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
    overflow-x: hidden;
    /*
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #92929252;*/
}
/*
.ligth-theme .section-info{
    background-image: linear-gradient(0deg, #fff,#ffffffe3), url("../assets/img/Recurso\ 1.svg");
}
.dark-theme .section-info{
    background-image: linear-gradient(0deg, #252525,#252525a4), url("../assets/img/Recurso\ 1.svg");
}*/
.section-info .div-der{
   
    display: flex;
    flex-direction: column;
   
    align-items: center;
    gap: 1px;
   

}
.section-info .div-izq{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    background-size: cover;
    


}
.div-back{
    width: 100%;
    height: 100%;
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,300px),1fr));
  
   position: absolute;
   z-index: -1;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateX(60deg);
}

.div-back svg{
   height: 100%;
     width: 100%;
filter: blur(20px);

}

.div-back svg:nth-child(1){
   
    fill: #71d4ec;
  animation: wabesvg 3s 0.1s  infinite;
    
}
.div-back svg:nth-child(2){
  
    fill: #71ec81;
    animation: wabesvg 3s 0.2s  infinite;
    
}
.div-back svg:nth-child(3){

    fill: #b071ec;
    animation: wabesvg 3s 0.3s  infinite;
    
}
.div-back svg:nth-child(4){
 
    fill: #eccf71;

    animation: wabesvg 3s 0.4s  infinite;
}
@keyframes wabesvg {
    0%,100%{
    
        transform: translatez(-100px);
    }
   
    50%{
          
        transform: translatez(100px);
    }
  
}

/*  rebotes en 3d con aros  hechos con 4 span ===================================
agregar al div contenedor
 position: absolute;
    z-index: -1;
      transform-style: preserve-3d;
    transform: perspective(600px) rotateX(60deg);

.div-back span{
    height: 100%;
      width: 100%;
  
 
     opacity: 0.5;   
     position: absolute;
  
 }
 .div-back span:nth-child(1){
     width: 220px;
     height: 220px;
     border: 2px solid #0026ff;
     border-radius: 100%;
   animation: wabes 2s  0.1s infinite;
     
 }
 .div-back span:nth-child(2){
     width: 260px;
     height: 260px;
     border: 2px solid #0026ff;
     border-radius: 100%;
     animation: wabes 2s  0.2s infinite;
     
 }
 .div-back span:nth-child(3){
     width: 300px;
     height: 300px;
     border: 2px solid #0026ff;
     border-radius: 100%;
     animation: wabes 2s  0.3s infinite;
     
 }
 .div-back span:nth-child(4){
     width: 340px;
     height: 340px;
     border: 2px solid #0026ff;
     border-radius: 100%;
     animation: wabes 2s 0.4s   infinite;
 }
 @keyframes wabes {
    0%,100%{    
        transform: translateZ(-100px);
    }   
    50%{          
        transform: translateZ(100px);
    }   
}
 */

.section-info svg{
    width: 300px;
    height: 300px;
    fill: #2f3030;
  /*

   filter: drop-shadow(16px 16px 20px rgb(255, 116, 116)) invert(50%);*/

}

.section-info .contain-name{
    display: flex;
    flex-direction: column;
   
}

.ligth-theme  .section-info svg{
    fill: var(--primary-dark);
}
.dark-theme  .section-info svg{
    fill: var(--primary);
}
   
   @keyframes wabesvg {
    0%,100%{
    
        transform: translatez(-100px);
    }
   
    50%{
          
        transform: translatez(100px);
    }
  
}


@keyframes wabesback {
    0%,100%{
        fill:#ff0953;
        transform: scale(0.5);
    }
   
    50%{
           fill:#561370;

        transform: scale(1);
    }
   /* especial para esxpande  30%{
      transform: scale(1);
    
       fill: #1e65ff;
    }
    100%{
      transform: scale(1.02);
      fill: #36cc5c;
     
    }*/
    
}
/*
.oreja-izquierda{
   
    animation: wabes 3s 0.1s ease alternate infinite;
}
.mechon{

    animation: wabes 3s 0.2s ease alternate infinite;
}
.oreja-derecha{

    animation: wabes 3s 0.3s ease alternate infinite;
}

.cara{

    animation: wabes 3s 0.4s ease alternate infinite;
}*/
.title-info {
   
    font-weight:900;
    font-size: 2.4em;
   align-self: flex-start;
    padding: 0px 25px;
   
    
  /*   background-image: linear-gradient(45deg,#040347 ,#5770ff );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
    display: inline-block;*/
  }

  .section-info p{
    font-size: 1rem;    
    padding: 10px 25px;   
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
}
.name{
    width: 100%;
    font-weight:900;
    font-size: 2.4em;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(  -225deg,#3d1557 0%,#44107a 29%,#ff1361 67%,#fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
  
    }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.slogan{
    width: 100%;   
    display: flex;
    position: relative;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem; 
    -webkit-box-reflect: below -12px linear-gradient(transparent, #0a0a0a52);
    
    
}

@keyframes ondas {
    0%, 40%, 100%{
        transform: translateY(0);
    }
    20%{
        transform:  translateY(-20px);
    }
}
.slogan span{
    margin: 2px;
    position: relative;
    display: inline-block;
    animation: ondas 1s infinite;
    animation-delay:  calc(.1s * var(--i)); 
   
}






/*================================================estilos del footer ====================================================*/
footer{
    padding: 8px;
    margin: 8px 0px;
    height: 200px;

   
    border-top: 1.2px solid #86868636;
    /* box-shadow: 0px -2px 1px #92929221;
background-color: rgba(245, 245, 245, 0.062);
backdrop-filter: blur(8px);
-webkit-backdrop-filter:blur(8px) ;*/


}
.ligth-theme footer{
      background-color: var(--primary);
      color: #161616;
}
.ligth-theme .item-contact{
    color: #161616;
}
.dark-theme footer{
    background-color: var(--primary-dark);
    color: #ffffff;
}
.dark-theme  .item-contact{
   
    color: #ffffff;
}

.title-footer{
    padding-left: 20px;
    
}
.contain-contacts{
    text-align: center;
  

}
.item-contact{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 4px 8px;
   
}
.item-contact:hover{
   border-bottom: 3px solid darkcyan;
   color: darkcyan;
}


/** css for scollbars */

::-webkit-scrollbar{
    width:  10px;
  
}
::-webkit-slider-runnable-track{
    background-color: #5fd3f0;

}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(0deg, rgb(119, 119, 119), rgba(128, 0, 128, 0));
    border-radius: 10px;

}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
    
    
}

/**=================================================responsive  side bar ==========================================================*/
@media screen and (max-width: 678px) {
    
.contain-menu {
  
    position: absolute;
    top: 0;

    right: 0px;
    height: 100vh;
    width: 250;
   
 box-shadow: 1px  1px 3px #8d8d8d;


}


.menu{

list-style: none;
overflow: hidden;

width: 200px;  
height: 100vh;
display: flex;
flex-direction: column;
justify-content: left;
align-items: center;
}


.menu li{
    list-style: none;
    width: 200px;  
    height: 35px;
    
    }

.icon-menu{
    visibility: visible;
   
}
.icon-menu-close{
    visibility: visible;
}
.icon-menu-close span:nth-child(1){
      visibility: visible;  
} 
.icon-menu-close span:nth-child(2){
    visibility: visible;  
} 

}
@media screen and (min-width: 678px) {
    
    .contain-menu {
      visibility:visible ;
    }
    .icon-menu-close,
.icon-menu-close span{
      visibility: hidden;  
} 
    
    }