:root{
   
    --primary: #ffffff;
    --secondary:#04abaa;  
    --acent:#eb0555;
    --text:#1d1d1b;
    --shadown:#dfdfdf;
    --success:#27ffa5;
    --warning:#fff01c;
    --error:#ff2b2b;
    --info:#202020;
   --border-section:#86868636;
 
}
/* 
rgb(66, 4, 90)
*/