:root{
   
    --primary: #ffffff;
    --secondary:#eb2517;
    --header:rgb(62, 16, 77);
    --primary-dark: #252525;
    --acent:#24b8b8;
    --shadown:#dfdfdf;
    --success:#27ffa5;
    --warning:#fff01c;
    --error:#ff2b2b;
    --info:#202020;
 
}
/* 
rgb(66, 4, 90)
*/